@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800;500&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(160deg, #ABFFBE 0%, #F4B1FF 50%, #FF7171 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .header {
        margin-top: 100px;
        .welcome {
            color: #7435C3;
            width: 70vw;
            margin: 0 auto;
            min-width: 300px;
        }
        .title {
            line-height: 100px;
            margin: 0 auto;
            width: 70vw;
            color: #7435C3;
            font-size: 7rem;
            min-width: 300px;
        }
        .information {
            color: #7435C3;
            width: 70vw;
            margin: 30px auto;
            font-weight: 500;
            line-height: 25px;
            padding-right: 30vw;
        }
        .form {
            width: 70vw;
            margin: 0 auto;
            min-width: 300px;
            .new-pool-form {
                margin-top: 100px;
                display: flex;
                width: 70vw;
                max-width: 500px;
                .new-pool-input {
                    flex: 0.7;
                    width: 300px;
                    background: white;
                    height: 40px;
                    font-size: 1rem;
                    outline: 0;
                    padding-left: 10px;
                    border-radius: 10px;
                    border: 0px solid transparent;
                }
                .new-pool-button {
                    flex: 0.3;
                    margin-left: 10px;
                    width: 140px;
                    background: #7435C3;
                    height: 40px;
                    border-radius: 10px;
                    cursor: pointer;
                    p {
                        text-align: center;
                        font-size: 1rem;
                        color: #fff;
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .footer {
        position: fixed;
        display: inline-flex;
        margin: 0 auto;
        bottom: 0;
        right: 0;
        left: 0;
        width: fit-content;
        // background-color: red;
        text-align: center;
        p {
            color: rgb(66, 66, 66);
            font-weight: bold;
            margin: auto 0;
        }
        img {
            filter: invert(0.2);
            width: 100px;
        }
    }
}